* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #7c561e;
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  gap: 1rem;
}

main {
  display: none;
  background-color: #f6d26d;
  padding: 2rem 3rem;
  border-radius: 10px;
  width: 22rem;
  margin: 2rem auto;
}

h1 {
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
}
h2 {
  /* background-color: white; */
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
  font-size: 3rem;
}
p {
  margin-bottom: 0;
}
input {
  padding: 1rem 2rem;
  border-radius: 10px;
}
button {
  background-color: #f29503;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.stats {
  border-bottom: 5px solid white;
  width: 100%;
  background-color: #7c561e;
  margin: 1rem auto;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
img {
  border: 0.5rem solid white;
  border-radius: 50%;
}

.ability1,
.ability2 {
  text-align: center;
}
